<div class="m-font-info js-font-info">
    <dl>
      <dt>Main Headlines</dt>
      <dd style="<%= @font_set.element_css('main_headline') %>"><%= @font_set.element_font_name('main_headline') %></dd>
      <dt>Small Headline</dt>
      <dd style="<%= @font_set.element_css('secondary_headline') %>"><%= @font_set.element_font_name('secondary_headline') %></dd>
      <dt>Bylines</dt>
      <dd style="<%= @font_set.element_css('byline') %>"><%= @font_set.element_font_name('byline') %></dd>
      <dt>Body</dt>
      <dd style="<%= @font_set.element_css('body') %>"><%= @font_set.element_font_name('body') %></dd>
      <dt>Blockquote</dt>
      <dd style="<%= @font_set.element_css('blockquote') %>"><%= @font_set.element_font_name('blockquote') %></dd>
      <dt>Pullquote</dt>
      <dd style="<%= @font_set.element_css('pullquote') %>"><%= @font_set.element_font_name('pullquote') %></dd>
      <dt>Number</dt>
      <dd style="<%= @font_set.element_css('big_number') %>"><%= @font_set.element_font_name('big_number') %></dd>
      <dt>Number Label</dt>
      <dd style="<%= @font_set.element_css('big_number_label') %>"><%= @font_set.element_font_name('big_number_label') %></dd>
    </dl>
</div>