<% content_for :typekit do %>
  <script type="text/javascript" src="//use.typekit.net/<%= @project.kit_id %>.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<% end %>

<% content_for :compiled_css do %>
<style type="text/css">
<%= @project.compiled_css.html_safe %>
</style>
<% end %>

<% content_for :bongo_js do %>
  <script>
    var BNG = BNG || {};
    BNG.FontSets = <%= @fs_json.html_safe %>;
  </script>
<% end %>

<% content_for :body_class do %>
  class="<%= @font_set.slug %>"
<% end %>

<a href="#" class="m-toggle admin icon-cog js-edit" title="Edit this font set"></a>

<toggle class="m-toggle paginate left">
  <a href="#" class="icon-left-open js-prev"></a>
  <span class="sets"><span class="js-current">1</span>/<span class="js-total"></span></span>
</toggle>

<toggle class="m-toggle paginate right">
  <a href="#" class="icon-right-open js-next"></a>
  <a href="#" class="info js-info">Info</a>
</toggle>

<!-- Body -->
<div class="m-row">
  <div class="m-row__box half has_background_image left" style="background-image: url('<%= image_path 'custom_photos/large_bg.jpg' %>')">
    <div class="m-row__inner has_background_image">
      <a href="#" class="logo"><img src="<%= image_path 'custom_assets/logo.png' %>" /></a>
      <div class="text big_headline">
        <h1 class="bng-main-headline big_headline" data-font-family="<%= @font_set.element_font_name('main_headline') %>">Luis Suárez Never Wanted Redemption</h1>
        <span class="byline bng-byline" data-font-family="<%= @font_set.element_font_name('byline') %>">by <a href="#">Ryan Rosenblatt</a> on January 24, 2014</span>
      </div>
    </div>
  </div>
  <div class="m-row__box half right">
    <div class="m-row__inner">
      <img class="small_lede" src="<%= image_path 'custom_photos/small_lede.jpg' %>" />
      <div class="text">
        <h1 class="small_lede bng-secondary-headline" data-font-family="<%= @font_set.element_font_name('secondary_headline') %>">Uruguay fans may be the world’s most passionate</h1>
        <span class="byline bng-byline" data-font-family="<%= @font_set.element_font_name('byline') %>">by <a href="#">Ryan Rosenblatt</a> on January 24, 2014</span>
        <p class="bng-body" data-font-family="<%= @font_set.element_font_name('body') %>">They cried during the national anthem. They cried at kick off. They cried during the national anthem. They cried at kick off. They cried during the national anthem. They cried at kick off. They cried during the national anthem. They cried at kick off. They cried during the national anthem. They cried at kick off. They cried during the national anthem. They cried at kick off.</p>
        <blockquote class="bng-blockquote" data-font-family="<%= @font_set.element_font_name('blockquote') %>">They cried when Diego Golid scored to put them into the knockout stages.</blockquote>
        <p class="bng-body" data-font-family="<%= @font_set.element_font_name('body') %>">They cried during the national anthem. They cried at kick off. They cried during the national anthem. They cried at kick off. They cried during the national anthem. They cried at kick off. They cried during the national anthem. They cried at kick off. They cried during the national anthem. They cried at kick off. They cried during the national anthem. They cried at kick off.</p>
      </div>
    </div>
  </div>
</div>

<div class="m-row">
  <div class="m-row__box third first" style="background-image: url('<%= image_path 'custom_photos/three_up_first.jpg' %>')">
    <div class="m-row__inner three-up">
    </div>
  </div>
  <div class="m-row__box third mid">
    <div class="m-row__inner three-up">
      <span class="number bng-big-number" data-font-family="<%= @font_set.element_font_name('big_number') %>">45<i class="label bng-big-number-label" data-font-family="<%= @font_set.element_font_name('big_number_label') %>">comments</i></span>
    </div>
  </div>
  <div class="m-row__box third last has_background_image" style="background-image: url('<%= image_path 'custom_photos/three_up_last.jpg' %>')">
    <div class="m-row__inner three-up">
      <q class="bng-pullquote" data-font-family="<%= @font_set.element_font_name('pullquote') %>">I’m not sure if the use of the word ‘Palatable’ was intentional given the <span>circumstance</span>, but if it was, fantastic.</q>
    </div>
  </div>
</div>

<div class="m-row">
  <div class="m-row__box has_background_image" style="background-image: url('<%= image_path 'custom_photos/feature.jpg' %>')">
    <div class="m-row__inner feature">
      <div class="text feature">
        <h1 class="feature bng-main-headline" data-font-family="<%= @font_set.element_font_name('main_headline') %>">The 2014 World Cup Schedule</h1>
        <span class="byline bng-byline" data-font-family="<%= @font_set.element_font_name('byline') %>">by <a href="#">Ryan Rosenblatt</a></span>
      </div>
    </div>
  </div>
</div>

<div class="m-font-info js-font-info hidden">
    <dl>
      <dt>Main Headlines</dt>
      <dd style="<%= @font_set.element_css('main_headline') %>"><%= @font_set.element_font_name('main_headline') %></dd>
      <dt>Small Headline</dt>
      <dd style="<%= @font_set.element_css('secondary_headline') %>"><%= @font_set.element_font_name('secondary_headline') %></dd>
      <dt>Bylines</dt>
      <dd style="<%= @font_set.element_css('byline') %>"><%= @font_set.element_font_name('byline') %></dd>
      <dt>Body</dt>
      <dd style="<%= @font_set.element_css('body') %>"><%= @font_set.element_font_name('body') %></dd>
      <dt>Blockquote</dt>
      <dd style="<%= @font_set.element_css('blockquote') %>"><%= @font_set.element_font_name('blockquote') %></dd>
      <dt>Pullquote</dt>
      <dd style="<%= @font_set.element_css('pullquote') %>"><%= @font_set.element_font_name('pullquote') %></dd>
      <dt>Number</dt>
      <dd style="<%= @font_set.element_css('big_number') %>"><%= @font_set.element_font_name('big_number') %></dd>
      <dt>Number Label</dt>
      <dd style="<%= @font_set.element_css('big_number_label') %>"><%= @font_set.element_font_name('big_number_label') %></dd>
    </dl>
</div>