<div class="form-group">
  <%= f.label :primary_color %>
  <%= f.text_field :primary_color, class: "form-control color", type: "color" %>
  <%= f.text_field :primary_color, id:"project_primary_color_hex", class: "form-control", data: {"connectable-to" => 'project_primary_color'}  %>
</div>
<div class="form-group">
  <%= f.label :secondary_color %>
  <%= f.text_field :secondary_color, class: "form-control color", type: "color" %>
  <%= f.text_field :secondary_color, id:"project_secondary_color_hex", class: "form-control", data: {"connectable-to" => 'project_secondary_color'}  %>
</div>
