<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div class="alert alert-danger">
      <p>Your project couldn't be saved :(</p>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :kit_id %>
    <%= f.text_field :kit_id, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :typekit_token %>
    <%= f.text_field :typekit_token, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.submit 'Save it!', class: "btn btn-primary" %>
    <%= link_to 'Go back', projects_path, class: "btn btn-default" %>
  </div>
<% end %>
