<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div class="alert alert-danger">
      <p>Your project couldn't be saved :(</p>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="panel_wrap">
    <div class="panel panel-default left">
      <div class="panel-heading">Images</div>
      <div class="form-group">
        <%= f.label :logo_url %>
        <%= f.text_field :logo_url, class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :feature_image_url %>
        <%= f.text_field :feature_image_url, class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :background_url %>
        <%= f.text_field :background_url, class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :lede_image_url %>
        <%= f.text_field :lede_image_url, class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :three_up_first_url %>
        <%= f.text_field :three_up_first_url, class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :three_up_last_url %>
        <%= f.text_field :three_up_last_url, class: "form-control"  %>
      </div>
    </div>

    <div class="panel panel-default right">
      <div class="panel-heading">Colors</div>
      <div class="form-group">
        <%= f.label :overlay_color %>
        <%= f.text_field :overlay_color, class: "form-control color", type: "color" %>
        <%= f.text_field :overlay_color, id:"project_secondary_color_hex", class: "form-control hex", data: {"connectable-to" => 'project_overlay_color'}  %>
      </div>
      <div class="form-group">
        <%= f.label :primary_color %>
        <%= f.text_field :primary_color, class: "form-control color", type: "color" %>
        <%= f.text_field :primary_color, id:"project_primary_color_hex", class: "form-control hex", data: {"connectable-to" => 'project_primary_color'}  %>
      </div>
      <div class="form-group">
        <%= f.label :secondary_color %>
        <%= f.text_field :secondary_color, class: "form-control color", type: "color" %>
        <%= f.text_field :secondary_color, id:"project_secondary_color_hex", class: "form-control hex", data: {"connectable-to" => 'project_secondary_color'}  %>
      </div>

      <div class="panel-heading">Google font settings</div>
      <div class="form-group">
        <%= f.label :collection_url %>
        <%= f.text_field :collection_url, class: "form-control"  %>
      </div>
    </div>

  </div>

  <div class="form-group actions">
    <%= f.submit 'Save it!', class: "btn btn-primary" %>
    <%#= link_to 'Go back', request.referer || projects_path, class: "btn btn-default" %>
  </div>
<% end %>
