<% content_for :typekit do %>
  <script type="text/javascript" src="//use.typekit.net/<%= @project.kit_id %>.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<% end %>

<% if !@typekit['kit']['domains'].include?(request.host) %>
    <p class="alert alert-danger"><strong>Warning!</strong> Please make sure <strong><%= request.host %></strong> is in your list of allowed domains in your <%= link_to "kit settings", "https://typekit.com/kit_editor/kits/#{@project.kit_id}" %>, or your fonts won't be visible in your project.</p>
<% end %>

<h1><%= @project.title %></h1>

<table class="table m-project__table">
  <thead>
    <tr>
      <th>Kit Name</th>
      <th>Families</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @typekit['kit']['name'] %></td>
        <td>
          <ul>
            <%- @typekit['kit']['families'].each do |f| %>
              <%- f['variations'].each do |v| %>
                <li style='font-family:<%= f['css_stack'] %>;<%= font_variation_to_css(v) %>'><%= f['name'] %> (<%= font_variation_to_string(v) %>)</li>
              <% end %>
            <% end %>
          </ul>
        </td>
        <td>
          <% if @project.font_sets.size > 0 %>
            <%= link_to 'Launch!', @project, class: "btn btn-primary" %>
          <% end %>
          <%= link_to 'Edit project', edit_project_path(@project), class: "btn btn-primary"  %>
          <%= link_to "Edit kit", "https://typekit.com/kit_editor/kits/#{@project.kit_id}", class: "btn btn-primary" %>
          <%= link_to 'Destroy project', @project, method: :delete, data: { confirm: "Oh god are you sure you want to delete #{@project.title}?" }, class: "btn btn-danger"  %>
        </td>
      </tr>
  </tbody>
</table>

<h2>Font Sets</h2>

<% if @project.font_sets.size > 0 %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project.font_sets.each do |font_set| %>
      <tr>
        <td><%= font_set.name %></td>
        <td>
        <%= link_to 'Launch!', show_font_set_path(@project.id, @project.slug, font_set.id, font_set.slug), class: "btn btn-primary" %>
        <%= link_to 'View', font_set_details_path(@project, font_set), class: "btn btn-default" %>
        <%= link_to 'Edit', edit_project_font_set_path(@project, font_set), class: "btn btn-default"  %>
        <%= link_to 'Destroy', font_set, method: :delete, data: { confirm: "Oh god are you sure you want to delete #{font_set.name}?" }, class: "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>This project doesn't have any font sets :(</p>
<% end %>
<p><%= link_to 'New font set', new_project_font_set_path(@project.id), class: "btn btn-primary"  %></p>