<h1>Projects</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Font sets</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.font_sets.size %></td>
        <td>
          <% if project.font_sets.size > 0 %>
            <%= link_to 'View', project, class: "btn btn-primary" %>
          <% else %>
            <span class="btn btn-default" data-toggle="tooltip" data-placement="top" title="You have to add a font set before you can launch the project">Launch!</span>
          <% end %>
          <%= link_to 'Add a font set', new_project_font_set_path(project.id), class: "btn btn-default"  %>
          <%= link_to 'View font sets', project_details_path(project), class: "btn btn-default" %>
          <%= link_to 'Project settings', edit_project_path(project), class: "btn btn-default" %>
          <%= link_to 'Delete', project, method: :delete, data: { confirm: "Oh god are you sure you want to delete #{project.title}?" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "New project", new_project_path, class: "btn btn-primary" %></p>