<h1>Projects</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td>
          <% if project.font_sets.size > 0 %>
            <%= link_to 'Launch!', project, class: "btn btn-primary" %>
          <% end %>
          <%= link_to 'Details', project_details_path(project), class: "btn btn-default" %>
          <%= link_to 'Edit', edit_project_path(project), class: "btn btn-default" %>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: "Oh god are you sure you want to delete #{project.title}?" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "New project", new_project_path, class: "btn btn-primary" %></p>