<!DOCTYPE html>
<html>
<head>
  <title>Bongo</title>
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= yield :typekit %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Bongo</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "All projects", projects_path %></li>
          <li><%= link_to "New project", new_project_path %></li>
        </ul>
      </div>
    </div>
  </div>

<div class="container">
  <% if notice %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <%= yield %>
</div>
<%= javascript_include_tag 'admin' %>
<%= javascript_include_tag 'connectable_interface' %>

</body>
</html>
