<!DOCTYPE html>
<html>
<head>
  <title>Bongo</title>
  <%= stylesheet_link_tag    'styles', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :typekit %>
  <%= yield :compiled_css %>
</head>
<body>

<%= yield %>

</body>
</html>