<!DOCTYPE html>
<html>
<head>
  <title>Bongo</title>
  <%= stylesheet_link_tag    'styles', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <%= yield :typekit %>
  <%= yield :compiled_css %>
</head>
<body <%= yield :body_class %>>
<%= yield %>
<%= yield :bongo_js %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<%= javascript_include_tag 'bongo' %>
<%= javascript_include_tag 'connectable_interface' %>
</body>
</html>